<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
        http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-4.0.xsd  
        http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.0.xsd  
        http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-4.0.xsd  
        http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-4.0.xsd
        http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-4.0.xsd">

    <bean id="userService" class="com.mall.service.impl.UserServiceImpl">
        <property name="userDao" ref="userDao" />
    </bean>

    <bean id="goodsService" class="com.mall.service.impl.GoodsServiceImpl">
        <property name="goodsDao" ref="goodsDao" />
    </bean>

    <bean id="shoppingCartService" class="com.mall.service.impl.ShoppingCartServiceImpl">
        <property name="shoppingCartDao" ref="shoppingCartDao" />
    </bean>

    <bean id="billService" class="com.mall.service.impl.BillServiceImpl">
        <property name="billDao" ref="billDao" />
        <property name="shoppingCartDao" ref="shoppingCartDao" />
    </bean>

    <tx:advice id="serviceTxAdvice" transaction-manager="transactionManager">
        <tx:attributes>
            <!-- readonly -->
            <tx:method name="login" read-only="true" />
            <tx:method name="load*" read-only="true" />

            <!-- 一般操作-->
            <tx:method name="add" isolation="READ_COMMITTED"  />
            <tx:method name="update" isolation="READ_COMMITTED"  />
            <tx:method name="delete" isolation="READ_COMMITTED"  />

        </tx:attributes>
    </tx:advice>

    <aop:config>
        <aop:pointcut id="serviceAopMallcut" expression="execution(* com.mall.service.*.*(..))"/>
        <aop:advisor advice-ref="serviceTxAdvice" pointcut-ref="serviceAopMallcut"/>
    </aop:config>
</beans>