<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mall.dao.BillDao" >
  <resultMap id="BaseResultMap" type="com.mall.entity.Bill" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="buytime" property="buytime" jdbcType="TIMESTAMP" />
    <association column="uid" property="uid"
                 select="com.mall.dao.UserDao.selectByPrimaryKey"></association>
    <association column="gid" property="gid"
                 select="com.mall.dao.GoodsDao.selectByPrimaryKey"></association>
  </resultMap>

  <resultMap id="ViewResultMap" type="com.mall.entity.BillView" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="imagepath" property="imagepath" jdbcType="VARCHAR" />
    <result column="imageurl" property="imageurl" jdbcType="VARCHAR" />
    <result column="number" property="number" jdbcType="INTEGER" />
    <result column="price" property="price" jdbcType="DOUBLE" />
    <result column="buytime" property="buytime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, gid, uid, number
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from bill
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from bill
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insertSelective" parameterType="com.mall.entity.Bill" >
    insert into bill
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="gid != null" >
        gid,
      </if>
      <if test="uid != null" >
        uid,
      </if>
      <if test="number != null" >
        number,
      </if>
      <if test="price != null" >
        price,
      </if>
      <if test="buytime != null" >
        buytime,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="gid != null" >
        #{gid.id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        #{uid.id,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="buytime != null" >
        #{buytime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mall.entity.Bill" >
    update bill
    <set >
      <if test="gid != null" >
        gid = #{gid.id,jdbcType=INTEGER},
      </if>
      <if test="uid != null" >
        uid = #{uid.id,jdbcType=INTEGER},
      </if>
      <if test="number != null" >
        number = #{number,jdbcType=INTEGER},
      </if>
      <if test="price != null" >
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="buytime != null" >
        buytime = #{buytime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>

  <select id="find" parameterType="Map" resultMap="ViewResultMap">
    select bill.id,title,imagepath,imageurl,number,bill.price,buytime from bill,goods
    <where>
      bill.gid=goods.id
      <if test="uid !=null and uid != ''">
        and bill.uid = #{uid}
      </if>
    </where>
    <if test="start!=null and size!=null">
      order by id limit ${start},${size};
    </if>
  </select>

  <select id="getNewestBuy" parameterType="Map" resultType="Double">
    select price from bill
    <where>
      <if test="gid !=null and gid != ''">
        and bill.gid = #{gid}
      </if>
      <if test="uid !=null and uid != ''">
        and bill.uid = #{uid}
      </if>
    </where>
      order by id DESC limit 1;
  </select>

  <select id="getTotal" parameterType="Map" resultType="Double">
    select SUM(price * number) from bill
    <where>
      <if test="uid !=null and uid != ''">
        and uid = #{uid}
      </if>
    </where>
  </select>

</mapper>